# UPDATE THE ENV VARS TO PROPER DATA. THOSE ARE JUST EXAMPLE DATA

# Domain
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=changeme

# WordPress admin
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=changeme
WP_ADMIN_EMAIL=admin@example.com

# WordPress regular user
WP_USER=editor
WP_USER_EMAIL=editor@example.com
WP_USER_PASSWORD=changeme
